/*
font-family: 'Monofett', cursive;
font-family: 'Monoton', cursive;
font-family: 'Montserrat Subrayada', sans-serif;
*/

body {
  padding-top: 115px;
}

img {
	max-width:100%;
}

#sortby-nav .sorter {
  display: none;
}

@media (min-width: 768px){
  .navbar-nav {
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float:none;
  }

  #sortby-nav .sorter {
    display: inline-block;
  }
}

.frontpage .col-md-12 {
	text-align:center;
}

.frontpage h1, .frontpage img {
	margin-left:auto;
	margin-right:auto;
}

.frontpage h1 {
	font-family: 'Monoton', cursive;
	word-spacing: 15pt;
	font-size:30pt;
}

.navbar li a, a.navbar-brand {
	font-family: 'Monofett', cursive;
	font-size: 24pt;
	color:#666 !important;
	border-top-left-radius:6pt;
	border-top-right-radius:6pt;
	letter-spacing: 1pt;
	padding-left:12pt;
	padding-right:12pt;
	margin-left:6pt;
	margin-right:6pt;
}


.navbar li a:hover {
	color:black !important;
}

.navbar li.active a {
	color:white !important;
	background:black !important;
	text-decoration:none;
}

.navbar li.active a:hover {
	cursor:default !important;
}

.navbar-default {
	background-color: white;
	border-color: black;
	padding-top:10px;
}

#sortby-nav {
  display: block;
  position: fixed;
  background: black;
  color: white;
  width: 100%;
  text-align: center;
}

#sortby-nav>div, #sortby-nav>a {
  display: inline-block;
  border: solid white 1px;
  border-radius: 3px;
  max-width: 280px;
  width: 25%;
  padding: 3px 6px;
  margin: 5px 10px;
  text-align: center;
}

#sortby-nav>a, #sortby-nav>div .title {
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
}

#sortby-nav>a:hover {
  background: #444;
}

#sortby-nav>div .title {
  margin-right: 12px;
}

.sort-button {
  border-radius: 3px;
  padding: 2px 6px;
  margin: 2px 0 2px 12px;
  color: black;
  background: white;
  cursor: default;
}

.sort-button:not(.selected) {
  background: #bbb;
  color: #666;
  cursor: pointer;
}

.sort-button:not(.selected):hover {
  background: #ddd;
  color: #333;
}

#portfolio-nav a {
	font-family: 'Montserrat Subrayada', sans-serif;
	color:#666;
	display:block;
	margin:2pt;
	padding:4pt;
	text-decoration:none;
	border-radius:4pt;
}

#portfolio-nav a:hover {
	color:black;
	text-decoration:none;
	background:#ddd;
}

#portfolio-nav a.active {
	color:white;
	background:black;
	text-decoration:none;
}

.portfolio .image {
  padding: 2px;
}

.portfolio .image, #portfolio-nav > div {
	display:inline-block;
	float:none;
	vertical-align:middle;
	text-align:center;
}

.portfolio .image a {
  padding: 12px;
  display: block;
  border-radius: 4pt;
}

.portfolio .image a:hover {
  background: #ddd;
}

.portfolio .image img {
	background: white;
  padding: 2px;
}

div.footer {
	font-size:8pt;
	font-family: 'Montserrat Subrayada', sans-serif;
	color:#666;
	position: fixed;
	right:0;
	bottom:0;
	padding:12pt;
}

span.picture_title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 120%;
}

span.picture_date {
  white-space: nowrap;
  font-size: 90%;
  margin-left: 1em;
}

span.picture_description {
  font-weight: normal;
  display: block;
}
