body {
  padding-top: 100px;
}

img {
	max-width:100%;
}

.now-showing {
  color: white;
  text-align: center;
  position: relative;
  top: -56pt;
}

.now-showing a {
  color: white;
  text-decoration: underline;
}

.now-showing .big {
  font-size: 24pt;
  text-shadow: 2px 2px 0 black;
}

.now-showing .little {
  font-size: 10pt;
  text-shadow: 1px 1px 0 black;
}

#sortby-nav .sorter {
  display: none;
}

#sortby-nav .sorter-label {
  margin-left: 8px;
}

#sortby-nav>.selected {
  background: white;
  color: black;
}

@media (min-width: 768px){
  .navbar-nav {
      margin: 0 auto;
      display: table;
      table-layout: fixed;
      float:none;
  }

  #sortby-nav .sorter {
    display: inline-block;
    margin: none;
  }
}

@media (max-width: 1050px){
  #sortby-nav .sorter .sorter-label {
    display: none;
  }
} 

.frontpage .col-md-12 {
	text-align:center;
}

.frontpage h1, .frontpage img {
	margin-left:auto;
	margin-right:auto;
}

.frontpage h1, .shop-item h1 {
	font-family: 'Monoton', cursive;
	word-spacing: 15pt;
	font-size:30pt;
}

.navbar li a, a.navbar-brand {
	font-family: 'Monofett', cursive;
	font-size: 24pt;
	color:#666 !important;
	border-top-left-radius:6pt;
	border-top-right-radius:6pt;
	letter-spacing: 1pt;
	padding-left:12pt;
	padding-right:12pt;
	margin-left:6pt;
	margin-right:6pt;
}

a.navbar-brand {
  position: absolute;
  top: 8px;
}


.navbar li a:hover {
	color:black !important;
}

.navbar li.active a {
	color:white !important;
	background:black !important;
	text-decoration:none;
}

.navbar li.active a:hover {
	cursor:default !important;
}

.navbar-default {
	background-color: white;
	border-color: black;
	padding-top:10px;
}

#sortby-nav {
  display: block;
  position: fixed;
  background: black;
  color: white;
  width: 100%;
  text-align: center;
}

#sortby-nav>div, #sortby-nav>a {
  display: inline-block;
  border: solid white 1px;
  border-radius: 3px;
  max-width: 280px;
  width: 25%;
  padding: 3px 6px;
  margin: 5px 10px;
  text-align: center;
}

#sortby-nav>a, #sortby-nav>div .title {
  letter-spacing: 2px;
  font-weight: bold;
}

#sortby-nav>a:not(.selected), #sortby-nav>div:not(.selected) .title {
  color: white;
}

#sortby-nav>a:hover {
  background: #444;
}

.sort-button {
  border-radius: 3px;
  padding: 2px 6px;
  margin: 2px 2px 0 2px;
  color: black;
  cursor: default;
  text-decoration: underline;
}

.sort-button:not(.selected) {
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.sort-button:not(.selected):hover {
  opacity: 0.75;
  text-decoration: underline;
}

#portfolio-nav a {
	font-family: 'Montserrat Subrayada', sans-serif;
	color:#666;
	display:block;
	margin:2pt;
	padding:4pt;
	text-decoration:none;
	border-radius:4pt;
}

#portfolio-nav a:hover {
	color:black;
	text-decoration:none;
	background:#ddd;
}

#portfolio-nav a.active {
	color:white;
	background:black;
	text-decoration:none;
}

.portfolio .image {
  padding: 2px;
}

.portfolio .image, #portfolio-nav > div {
	display:inline-block;
	float:none;
	vertical-align:middle;
	text-align:center;
}

.portfolio .image a {
  padding: 12px;
  display: block;
  border-radius: 4pt;
}

.portfolio .image a:hover {
  background: #ddd;
}

.portfolio .image img {
	background: white;
  padding: 2px;
}

div.footer {
	font-size:8pt;
	font-family: 'Montserrat Subrayada', sans-serif;
	color:#666;
	position: fixed;
	right:0;
	bottom:0;
	padding:12pt;
}

span.picture_title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 120%;
}

span.picture_date {
  white-space: nowrap;
  font-size: 90%;
  margin-left: 1em;
}

span.picture_description {
  font-weight: normal;
  display: block;
}

#contact, #video-gallery {
  text-align: center;
}

#contact a {
  display: block;
  font-size: 20pt;
  line-height: 2;
}

.download-text {
  max-width: 450px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

table.download {
  max-width: 450px;
  margin: 2em auto 0.5em auto;
  border: 1px black solid;
}

table.download td, table.download th {
  text-align: left;
  padding: 5px;
}

.manual-audio-box {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.5);
  background-color: #f5f5f5;
}

.manual-audio-box img {
  width: 144px;
  height: 144px;
  padding: 9px;
}

.manual-audio-box>div, .shop-item>div>div {
  padding: 9px;
}

.manual-audio-box h2 {
  font-weight: 200;
  margin-top: 0;
}

.manual-audio-box a.shopping-link {
  display: block;
  position: absolute;
  right: 24px;
  bottom: 9px;
}

.shop-item {
  max-width: 800px;
  margin: 0 auto 2em auto;
}

.shop-item img {
  width: 288px;
  height: 288px;
  padding: 9px;
}

.shop-item {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.5);
  background-color: #f5f5f5;
}

.shop-item h1 {
  text-align: center;
}

.shop-item>div {
  display: flex;
  flex-flow: row nowrap;
}